head{
	text-align:left;
	font-size:10px;
	font-style:sans-serif;
}


h1{
	text-align: left; 
	font-size: 40px;
	font-style: georgia;
	background-color:#E3241C1;
}

h2{
	text-align: left;
	font-size:50px;
	font-style: georgia;
	padding-top:80px
	padding-left 30px
	margin:30px;
	padding-bottom: 80px ;
	background-color:#C8C8C8 ;
}

	h3{
		text-align: center
		font-size:40px
		font-style:sans-serif;
	}
header{
	text-align: center;
	font-size: 70;
	padding bottom: 50px;
	padding top: 50;
	margin: 90;
background-color: #C8C8C8;
  color: #E3241C1;
  font-family: Georgia, Palatino, serif;
  font-size: 60px;
  height: 75px;
  padding: 10px;


}
body{
	text-align: center;
	font-size: 50px;
	font-style: georgia;
	background-color: grey
}

article{
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #83050c  ;
}
section {
  background: #805C0A;
  max-width: 800px;
  padding: 5px;
}

p{
	font-family: arial, sans-serif;
}
h1{
	font-size: 20px;
	font-family: arial, sans-serif;
	text-align: center;
}
h2{
	font-size: 16px;
	font-family: arial, sans-serif;
}
h3{
	font-size:14px
	font-family: arial, sans-serif;
}

p{ 
text-align:center; 
font-size:15;
font-family:arial;
}
footer{
	font-size:5;
}
.wordclass{
	border-style:solid;
	border-width:3px;
	margin: 4px;
	padding:5px;
}
#word_class2{
	/*center a block*/ 
	margin:auto;
}
#word_class3{
	margin:left
	margin:right;
}

<link rel="stylesheet" type="html" href="aboutus.html">

</style> 